@charset "UTF-8";

//have to include all of these otherwise main.css will be empty
//We do not create styles in here






@font-face {
  font-family: cantarellregular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cantarel_regular-webfont.woff") format("woff"), url("../fonts/cantarel_regular-webfont.woff2") format("woff2");
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  width: 100%;
}
h2 {
  /* font-family: "cantarellregular", helvetica, arial; */
  font-size: 30px;
  color: #d50000;
  padding: 0 10px 0 10px;
}

h3 {
  /* font-family: "cantarellregular", helvetica, arial; */
  font-size: 30px;
  color: #ffffff;
  padding: 0 10px 0 10px;
  text-align: center;
  
}

h4 {
  /* font-family: "cantarellregular", helvetica, arial; */
  font-size: 17px;
  color: #ffffff;
  padding: 0 10px 0 10px;
  text-align: center;
}

p {
  line-height: 1.2;
  margin-bottom: 2px;
  padding: 0px 50px 20px 50px;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
}

.copyright p {
  color: #ffffff;
}


#main-header {
  background-color: #212121;
  color: #ffe7e7;
  padding: 0px;
  text-align: center;
}
#mobile-menu #logo {
  display: block;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 180px;
}
#main-header #logo {
  display: block;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 180px;
}
#mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #12002F;
  padding-top: 120px;
  transition: 0.5s;
}
#menuToggle:checked ~ .mobile-nav {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;
  color: #fff;
  text-decoration: none;
}
#main-header #main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#main-header #main-nav ul {
  flex: 0.8;
  display: flex;
  list-style: none;
  padding: 0px 0px 0px 60px;
  margin: 0 0p 0 50px;
}
#main-header #main-nav ul li {
  margin-right: 10px;
  padding: 10px;
}
#main-header #main-nav ul li:last-child {
  margin-right: 0;
}
#main-header #main-nav a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 15px;
}
.mobile-nav2 {
  position: fixed;
  top: 0;
  left: 100;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002F;
  padding-top: 120px;
  transition: 0.5s;
}
#mobile-nav2.is-active {
  left: 0;
}
#mobile-nav2 a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;
  color: #fff;
  text-decoration: none;
}


.box {
  background-color: rgb(174, 174, 174);
  color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.grid-con {
  display: grid;
  gap: 0px;
  padding: 0px;
  align-items: center;

}
#media {
  display: grid;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.title h3 {
  font-size: 40px;
  display: inline;
  text-align: center;
  padding: 50px;
  margin: 50px;
}

h2 {
  text-align: center;
}



@media screen and (max-width: 767px) {
  
  #main-header {
    text-align: left;
  }
  #mobile-nav {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  #mobile-nav #menuToggle {
    display: block;
    position: relative;
  }
  #mobile-nav #menuToggle input {
    display: block;
  }
  #mobile-nav #menuToggle span {
    display: block;
  }
  #mobile-nav ul {
    display: none;
  }
  #mobile-nav #menuToggle input:checked ~ ul {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  
  #main-header #main-nav ul {
    justify-content: end;
  }
  .logo {
    display: block;
    height: 40px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  } 
  
}

footer {
  background-color: #212121;
  color: #1f103f;
  height: 440px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer2 {
  background-color: #1f103f;
  color: #1f103f;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}



@media screen and (min-width: 768px) {
  #main-header #main-nav ul {
    justify-content: end;
  }
  #logo {
    margin-left: 0;
    margin-right: 0;
  }
}

.mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}


@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0;
  }
  .mobile-menu li {
    display: block;
    margin-bottom: 0;
  }

}
@media screen and (min-width: 1025px) {
  #main-header #main-nav ul {
    justify-content: end;
  }
  .logo {
    margin-left: 0;
    margin-right: 0;
  }
}

//video button




// EXPLODE

#explode-view1 {
  max-width: 100%;
  /* width: 100vw; */
}

#explode-view2 {
  max-width: 100%;
  /* width: 100vw; */
}


// vertical line
.container {
  position: relative;
  width: 200px;
  height: 200px;
}








// ar model viewer

model-viewer {
  width: auto;
  min-width: 1200px;
  height: 700px;
  background-color: #000000;
  //margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 300px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}





@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}



// info card area

.name {
  text-align: justify;
  padding-left: 120px;
  color: #d6d6d6;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.buyers {
  text-align: justify;
  padding-left: 120px;
  color: #2daacd;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.reviewers {
  background-color: #262424;
  box-shadow: 0px 7px 0px #999;
  padding: 25px 10px 15px 10px;
  margin: 0 auto;
  border-radius: 2%;
}
 

.photo1, .photo2, .photo3, .photo4 {
  position: absolute;
  width: 100px;
  height: auto;
  //margin-left: 180px;
  margin-top: 0; 
  padding-left: 20px;
}


.more {
  background-color: #ee2b7a;
  box-shadow: 0px 7px 0px #8f1a49;
  text-align: center;
  height: 30px;
  width: 130px;
  position: absolute;
  margin: -15px -70px; }
.more:hover {
  background-color: #f15595;
  box-shadow: 0px 7px 0px #a5486d; }



  // x-ray


#outerShell {
  display: none;
}

@media screen and (min-width: 1200px) {

  #mobile-tablet-view {
      display: none;
  }
  #outerShell {
      display: block;
      max-width: 1200px;
      border: solid 1px #666;
  }

}

#outerShell {
  max-width: 1200px;
  border: none;
}

#imageCon {
  position: relative;
  max-width: 1200px;
  height: 100vh;
}

.slideImage {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
}

.image-right {
  background: url(../images/earbud-xray-full.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.image-left {
  background: url(../images/earbud-xray.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  background-attachment: fixed;
}

.image-drag {
  background-color: #666;
  left: 50%;
  width: 4px;
  cursor: pointer;
}






/*# sourceMappingURL=main.css.map */